<?xml version="1.0" encoding="UTF-8"?>

<web-app>
<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.motivity.DoctorRegisterController</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/doctor_register</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>second</servlet-name>
<servlet-class>com.motivity.DoctorLoginController</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>second</servlet-name>
<url-pattern>/doctor_login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>third</servlet-name>
<servlet-class>com.motivity.Patientlogincontroller</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>third</servlet-name>
<url-pattern>/Patient_Login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>four</servlet-name>
<servlet-class>com.motivity.patientRegisterController</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>four</servlet-name>
<url-pattern>/patient_register</url-pattern>
</servlet-mapping>
<servlet-name>four</servlet-name>
<servlet-class>com.motivity.patientRegisterController</servlet-class>

<servlet>
<servlet-name>five</servlet-name>
<servlet-class>com.motivity.ManagerRegisterController</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>five</servlet-name>
<url-pattern>/manager_register</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>six</servlet-name>
<servlet-class>com.motivity.ManagerLoginController</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>six</servlet-name>
<url-pattern>/manager_login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>seven</servlet-name>
<servlet-class>com.motivity.EmployeeRegisterController</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>seven</servlet-name>
<url-pattern>/employee_register</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>eight</servlet-name>
<servlet-class>com.motivity.EmployeeLoginController</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>eight</servlet-name>
<url-pattern>/employee_login</url-pattern>
</servlet-mapping>




</web-app>
