
<web-app>
<Servlet>
<servlet-name>first</servlet-name>
<servlet-class> com.motivity.Managerregister</servlet-class>

</Servlet>
<Servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>./manager_register</url-pattern>
</Servlet-mapping>
<Servlet>
<servlet-name>second</servlet-name>
<servlet-class> com.motivity.employeeregister</servlet-class>

</Servlet>
<Servlet-mapping>
<servlet-name>second</servlet-name>
<url-pattern>./employee_register</url-pattern>
</Servlet-mapping>









</web-app>