<web-app>
<servlet>
<servlet-name>first</servlet-name>
<servlet-class> Motivity.Doctorregister</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>./doctor_register</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>second</servlet-name>
<servlet-class> Motivity.Doctorlogin</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>second</servlet-name>
<url-pattern>./doctor_login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>third</servlet-name>
<servlet-class> Motivity.patientregister</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>third</servlet-name>
<url-pattern>./patient_register</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>four</servlet-name>
<servlet-class> Motivity.patientlogin</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>four</servlet-name>
<url-pattern>./patient_login</url-pattern>
</servlet-mapping>







</web-app>